@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: 'figtree', sans-serif !important;
}
body{
    font-family: 'figtree', sans-serif !important;

}

/* CSS */
.my-button-56 {
    font-family: 'figtree', sans-serif;;
    font-weight: bold;
    align-items: center;
    color: #4230DC;
   
    background-color: #CAF4E0;
    border: 2px solid #111;
    border-radius: 8px;
    box-sizing: border-box;
    color: #111;
    cursor: pointer;
    display: flex;
   
    font-size: 14px;
    height: 48px;
    justify-content: center;
    line-height: 24px;
    max-width: 100%;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .my-button-56:after {
    background-color: #111;
    border-radius: 8px;
    content: "";
    display: block;
    height: 48px;
    left: 0;
    width: 100%;
    position: absolute;
    top: -2px;
    transform: translate(8px, 8px);
    transition: transform .2s ease-out;
    z-index: -1;
  }
  
  .my-button-56:hover:after {
    transform: translate(0, 0);
  }
  
  .my-button-56:active {
    background-color: #ffdeda;
    outline: 0;
  }
  
  .my-button-56:hover {
    outline: 0;
  }
  
  @media (min-width: 768px) {
    .my-button-56 {
      padding: 0 40px;
    }
  }
  
#see-more-btn {
    cursor: pointer;
  }
  
  /* Hide the third row initially */
  .third-row {
    display: none;
  }
  

  .my-button-69 {
    font-family: 'figtree', sans-serif;;
    font-weight: bold;
    align-items: center;
    color: #ffffff;
    background-color: #4230DC;
    border: 2px solid #111;
    border-radius: 8px;
    box-sizing: border-box;
 
    cursor: pointer;
    display: flex;
   
    font-size: 16px;
    height: 48px;
    justify-content: center;
    line-height: 24px;
    max-width: 100%;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .my-button-69:after {
    background-color: #111;
    border-radius: 8px;
    content: "";
    display: block;
    height: 48px;
    left: 0;
    width: 100%;
    position: absolute;
    top: -2px;
    transform: translate(8px, 8px);
    transition: transform .2s ease-out;
    z-index: -1;
  }
  
  .my-button-69:hover:after {
    transform: translate(0, 0);
  }
  
  .my-button-69:active {
    background-color: #746bc6;
    outline: 0;
  }
  
  .my-button-69:hover {
    outline: 0;
  }
